@charset "utf-8";
.container{
	display: inline-block;
  width: 100%;
  height: auto;
	margin: 0 auto;
	padding: 2%;
}
.weather_table_container{
	display: inline-block;
  width: 100%;
  height: auto;
	margin: 0 auto;
	padding: 2%;
	background-color:#b3e8ff;
	box-shadow: 2px 0px 12px 0px;
}
.weather_table_container .left{
	display: inline-block;
	float: left;
  width: 34%;
  height: auto;
	margin-right: 1%;
	text-align: center;
}
.weather_table_container .right{
	display: inline-block;
	float: right;
  width: 64%;
  height: auto;
	margin-left: 1%;
}
.city_info{
	display: inline-block;
	width: 100%;
	height: auto;
	padding: 5% 3%;
	background-color: #ffffff;
	text-align: center;
}
.img_desc{
	display: inline-block;
	width: 100%;
	height: auto;
}
.img_desc .left{
	display: inline-block;
	float: left;
	width: 25%;
	height: auto;
}
.img_desc .right{
	display: inline-block;
	float: right;
	width: 70%;
	height: auto;
}
#icon{
	display: block;
	max-width: 100%;
	height: auto;
}
#icon_desc{
	font-size: 22px;
}
#current_temp{
	font-size: 22px;
  font-weight: bold;
}
#city_name{
	font-size: 32px;
  font-weight: bold;
  text-align: center;
}
#todays_date{
	font-size: 22px;
	text-align: center;
}
#todays_date span{
	font-size: 17px;
	text-align: center;
}
#min, #max, #humidity{
	float: left;
	margin-right: 1%;
	font-size: 15px,
	text-align: left;
}